.card_container{
   transition: background-color 0.4s ease-in-out;
}
.btn{
   transition: background-color 0.5s ease-in-out; 
   transition: color 0.5s ease-in-out;
}
.card_container:hover{
   background-color: #FF7B6B;
   .btn{
    background-color: white;
    color: #FF7B6B;
   }
}
